<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-01-15T07:21:07Z</date>
	<key>WorkspacePath</key>
	<string>/Users/Shared/Developer/BabciaTobiasz/AppHost/BabciaTobiaszApp.xcodeproj</string>
</dict>
</plist>
